---
// TODO: re-write so that
// - Implement optional hero image
// - Posts have a list of tags
// - It is filterable (and possibly a way to search them)
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { Icon } from "astro-icon/components";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style lang="scss">
      main {
        width: 960px;
      }

      ul {
        list-style-type: none;
        padding: 0;

        li.post {
          &:not(:first-child) {
            margin-top: 0.5em;
          }

          a {
            text-decoration: none;

            &:hover h4,
            &:hover .date {
              color: var(--accent);
            }

            .date {
              margin: 0;
              color: var(--fg-dark);
            }

            .title {
              margin: 0;
              color: var(--fg);
              line-height: 1;
            }
          }
        }
      }

      // TODO: separate module for tags (remember to copy css from other ul)
      ul.tags {
        li {
          color: var(--fg);
          background-color: var(--bg-light);
          display: inline-flex;
          align-items: center;
          margin: 0.1em;
          padding: 0 0.3em;
          border-radius: 4px;

          .tag-icon {
            width: 16px;
            height: 16px;
            padding-right: 0.2em;
          }
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li class="post">
                <a href={`/blog/${post.slug}/`}>
                  <h4 class="title">{post.data.title}</h4>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                  <ul class="tags">
                    {post.data.tags.map((tag) => (
                      <li class="tag">
                        <Icon name="tag" class="tag-icon" />
                        {tag}
                      </li>
                    ))}
                  </ul>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
